<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QueueManagmentSystem</title>
        <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <img src="static/images/logo.jpg" alt="Ethio Telecom">
        <br>
        <hr>
        <h1> Dashboard</h1>

    </body>
</html>