<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <title>QueueManagmentSystem</title>
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>

            </button>
            <a class="navbar-brand mr-auto" href="./admin.html"><img src="static/images/logo.jpg" alt="Ethio Telecom"
                    height="30" width="41"></a>
            <div class="collapse navbar-collapse" id="Navbar">


                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active "><a class="nav-link" href="/"><span
                                class="fa fa-home fa-lg"></span></span>Dashboard</a></li>
                    <li class="nav-item "><a class="nav-link" href="token.html"><span
                                class="fa fa-info fa-lg"></span>Token</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><span
                                class="fa fa-list fa-lg"></span>Department</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/"><span
                                class="fa fa-address-card fa-lg"></span>Counters</a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><span
                                class="fa fa-address-card fa-lg"></span>Streams</a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><span class="fa fa-address-card fa-lg"></span>SMS
                            Setting</a></li>

                </ul>
            </div>
        </div>

    </nav>
    <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="../static/javascript/d3/d3.min.js"></script>