<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QueueManagmentSystem</title>
    
    <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="../static/javascript/jquery-master/src/jquery.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#generate_token').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/generate_token',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <img src="/static/images/logo.jpg" alt="Ethio Telecom">
                </div>
                <div class="card-body">
                    <form action ='/counters/edit/{{counter.id}}' method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <label for="name">Name </label>
                            </div> 
                            
                            <input type="text" class="form-control" for="name" name="name"
                                placeholder="{{counter.name}}">
                                
                        </div>
                        <input type="submit" id="update_counter" value="Update">
                    </form>
                </div>

            </div>
        </div>
    </div>


</body>

</html>