<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QueueManagmentSystem</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
      
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-sm fixed-top">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
    
                </button>
                <a class="navbar-brand mr-auto" href="/admin"><img src="static/images/logo.jpg" alt="Ethio Telecom"
                        height="30" width="41"></a>
                <div class="collapse navbar-collapse" id="Navbar">
    
    
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/admin"><span class="fa fa-home fa-lg"></span></span>Dashboard</a></li>
                        <li class="nav-item "><a class="nav-link" href="token_list"><span class="fa fa-info fa-lg"></span>Token</a></li>
                        <li class="nav-item"><a class="nav-link" href="/departments_list"><span class="fa fa-list fa-lg"></span>Department</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-address-card fa-lg"></span>Counters</a></li>
                        <li class="nav-item"><a class="nav-link" href="/streams_list"><span class="fa fa-address-card fa-lg"></span>Streams</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-lg"></span>SMS Setting</a></li>
    
    
                    </ul>
                </div>
    
    
            </nav>
            <br>
            <br>
            <br>
            <div>
            <h1 style="display: inline;">Counters </h1>
            <a class="btn btn-success float-right" href="/counters/new">+ NEW Counter</a>
        </div>
        <div class="row">
            {% for counter in counters %}
            <div class="col-sm-6">
                <div class="card mt-2 bg-light" style="border-radius: 15px;">
                    <div class="card-body">
                        <p class="card-text">{{counter.name}}</p>
                        <div class="row">
                            <div class="col-sm-4 offset-sm-8">
                                <a class="btn generate text-white" href='/counters/edit/{{counter.id}}'>Edit</a>
                                <a class="btn btn-danger" href='/counters/delete/{{counter.id}}'>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        </div>  
    </body>
    <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>

    </html>