<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QueueManagmentSystem</title>
        <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <br>
        <div class="container">
            <div>
            <h1 style="display: inline;">Departments </h1>
            <a class="btn btn-success float-right" href="/departments/new">+ NEW Department</a>
        </div>
        <div class="row">
            {% for department in departments %}
            <div class="col-sm-6">
                <div class="card mt-2 bg-light" style="border-radius: 15px;">
                    <div class="card-body">
                        <p class="card-text">{{department.name}}</p>
                        <div class="row">
                            <div class="col-sm-4 offset-sm-8">
                                <a class="btn btn-primary" href='/departments/edit/{{department.id}}'>Edit</a>
                                <a class="btn btn-danger" href='/departments/delete/{{department.id}}'>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        </div>  
    </body>
    </html>