<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Queue Management System</title>
        <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% for department in departments %}
               {{department.name}}
            {% endfor %}
        </div>
    </body>
    </html>