<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QueueManagmentSystem</title>
        <link rel="stylesheet" href="../bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <script src="/static/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <br>
        <div class="container">
            <div>
            <h1 style="display: inline;">Streams </h1>
            <a class="btn btn-success float-right" href="/streams/new">+ NEW Stream</a>
        </div>
        <div class="row">
            {% for stream in streams %}
            <div class="col-sm-6">
                <div class="card mt-2 bg-light" style="border-radius: 15px;">
                    <div class="card-body">
                        <p class="card-text">{{stream.name}}</p>
                        {%
                            set dept_name = departments.query.filter_by(id=stream.dept_id).first().name
                        %}
                        <p class="card-text">Department : {{dept_name}}</p>
                        <div class="row">
                            <div class="col-sm-4 offset-sm-8">
                                <a class="btn btn-primary" href='/streams/edit/{{stream.id}}'>Edit</a>
                                <a class="btn btn-danger" href='/streams/delete/{{stream.id}}'>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        </div>  
    </body>
    </html>